* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FIRST WAY TO GIVE HEIGHT TO MIDDLE CONTENT */
/* .container {
    display: grid;
    background: #ccc;
    grid-template-rows: 70px calc(100vh - 170px) 70px;
    grid-template-columns: 1fr;
    gap: 15px;
} */
/* FIRST WAY TO GIVE HEIGHT TO MIDDLE CONTENT */

/* SECOND WAY TO GIVE HEIGHT TO MIDDLE CONTENT */
.container {
    display: grid;
    background: #ccc;
    height: 300px;
    grid-template-rows: 70px 1fr 70px;
    /* FIRST WAY TO GIVE HEIGHT TO MIDDLE CONTENT */
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: center;
}

/* SECOND WAY TO GIVE HEIGHT TO MIDDLE CONTENT */

.header {
    background: gray;
}

.middle-content {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    grid-template-rows: 1fr;
}

.footer {
    background: gray;
}

.left,
.middle,
.right {
    background: gray;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: auto;
    gap: 10px;
    margin: 30px;
}
.second-layout-container {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 15px;
    grid-template-rows: 1fr;
}
.third-layout-container {
    display: grid;
    background: #ccc;
    height: 300px;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: center;
}
.third-layout-container .header {
    background: gray;
}
.third-layout-container .footer {
    background: gray;
}
.third-layout-container .middle-content{
    background: gray;
}
.fourth-layout-container {
    display: grid;
    background: #ccc;
    height: 300px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
    gap: 15px;
    text-align: center;
}
.card{
    border: 5px solid;
}
.fourth-layout-container .header {
    background: gray;
}
.fourth-layout-container .footer {
    background: gray;
}
.fourth-layout-container .middle-content{
    background: gray;
}