* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 74px 1fr;
    row-gap: 15px;
}

.container .header {
    color: #fff;
    background: #009688 !important;
    border-radius: 1px;
    padding: 0.01em 16px;
}

.header p {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 36px;
}

.container .content {
    padding: 0 16px;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30% 70%;
}

.card img {
    width: 100%;
}

.card .title {
    padding: 15px;
    font-size: 20px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
}

.title > p {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    line-height: 1.5;
    font-size: 36px;
}

.title>div {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .container .card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .title > p{
        margin: 0;
        font-size: 24px;
    }
    .header p{
        font-size: 30px;
    }
}